.DS_Store
*.h5
*.tif
*.egg-info
*.err
*.out
/pytorch_connectomics
slurm_jobs/slurm*
ccgan/.replit
ccgan/*egg-info
ccgan/debug*
ccgan/datasets/
ccgan/checkpoints/
ccgan/results/
ccgan/build/
ccgan/dist/
ccgan/*.png
ccgan/torch.egg-info/
ccgan/*/**/__pycache__
ccgan/torch/version.py
ccgan/torch/csrc/generic/TensorMethods.cpp
ccgan/torch/lib/*.so*
ccgan/torch/lib/*.dylib*
ccgan/torch/lib/*.h
ccgan/torch/lib/build
ccgan/torch/lib/tmp_install
ccgan/torch/lib/include
ccgan/torch/lib/torch_shm_manager
ccgan/torch/csrc/cudnn/cuDNN.cpp
ccgan/torch/csrc/nn/THNN.cwrap
ccgan/torch/csrc/nn/THNN.cpp
ccgan/torch/csrc/nn/THCUNN.cwrap
ccgan/torch/csrc/nn/THCUNN.cpp
ccgan/torch/csrc/nn/THNN_generic.cwrap
ccgan/torch/csrc/nn/THNN_generic.cpp
ccgan/torch/csrc/nn/THNN_generic.h
ccgan/docs/src/**/*
ccgan/test/data/legacy_modules.t7
ccgan/test/data/gpu_tensors.pt
ccgan/test/htmlcov
ccgan/test/.coverage
ccgan/*/*.pyc
ccgan/*/**/*.pyc
ccgan/*/**/**/*.pyc
ccgan/*/**/**/**/*.pyc
ccgan/*/**/**/**/**/*.pyc
ccgan/*/*.so*
ccgan/*/**/*.so*
ccgan/*/**/*.dylib*
ccgan/test/data/legacy_serialized.pt
ccgan/*~
.idea
