torch>=1.4.0
torchvision>=0.5.0
dominate>=2.4.0
visdom>=0.1.8.8
wandb

pytest==5.2.0
pytest-cov==2.6.1

#pytest-flakes==2.0.0
flake8
pytest-pep8
pytest-pythonpath

# sorting by numbers in name
natsort

# normalize 3D tensors
#torchio
matplotlib